Package: com.jaysan1292.pocketplanestweaks
Name: Pocket Planes Tweaks
Depends: mobilesubstrate, preferenceloader
Version: 1.0.4
Architecture: iphoneos-arm
Description: Tweaks a number of things in NimbleBit's Pocket Planes. Make sure to check Settings to configure!
Depiction: http://jaysan1292.com/repo/depictions/pocketplanestweaks.php
Maintainer: Jason Recillo
Author: Jason Recillo
Section: Tweaks
